/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg');
}

header{
    height: 300px;
}

img{
    height: 100%;
    vertical-align: bottom;
    margin-right: .5rem;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.text-white{
    color: white;
}

.main-logo{
    height: 140px;
}

.brand-title{
    font-size: 2rem;
    font-weight: 900;
    line-height: 140px;
    display: inline-block;
}

.unread-counter{
    margin-bottom: 1rem;
}

.text-unread-counter{
    font-size: 1.5rem;
    line-height: 3rem;
}

.searchbar{
    margin-bottom: 8px;
}

.counter{
    border-radius: 50%;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    text-align: center;
    background-color: white;
    color: black;
}

.counter-blue{
    background-color: blue;
    color: red;
}

.counter-lime{
    background-color: lime;
    color: yellow;
}
